## NY CitiBike - Bike Availability predictor

### Data Cleaning & Features Engineering

In [1]:
# Import packages and set the working directory
import os
import glob   # python package that automatically detects all of the files ending with a .csv name within a specific working directory
import pandas as pd
import numpy as np

###  Load CSV file

In [11]:
# Load data and perform basic data cleaning
df= pd.read_csv('combinedCitiBike_data.csv', index_col = None)
df.head()

,bikes_available,bikes_disabled,docks_available,docks_disabled,station_id,datetime,timestamp
0,22,3,30,0,72,8/1/2020 3:23,1596252221
1,26,1,6,0,79,8/1/2020 3:29,1596252552
2,22,4,1,0,82,8/1/2020 3:31,1596252675
3,37,1,24,0,83,8/1/2020 3:30,1596252618
4,39,3,8,0,116,8/1/2020 3:27,1596252457

## Data Processing

In [12]:
# check for missing valuse and data type
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403762 entries, 0 to 403761
Data columns (total 7 columns):
bikes_available    403762 non-null int64
bikes_disabled     403762 non-null int64
docks_available    403762 non-null int64
docks_disabled     403762 non-null int64
station_id         403762 non-null int64
datetime           403762 non-null object
timestamp          403762 non-null int64
dtypes: int64(6), object(1)
memory usage: 21.6+ MB

In [28]:
# Convert [datetime] into a datetime object
df['datetime'] = pd.to_datetime(df['datetime'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 403762 entries, 0 to 403761
Data columns (total 11 columns):
bikes_available    403762 non-null int64
bikes_disabled     403762 non-null int64
docks_available    403762 non-null int64
docks_disabled     403762 non-null int64
station_id         403762 non-null int64
datetime           403762 non-null datetime64[ns]
timestamp          403762 non-null float64
dom                403762 non-null int64
weekday            403762 non-null int64
hour               403762 non-null int64
availability       403762 non-null int64
dtypes: datetime64[ns](1), float64(1), int64(9)
memory usage: 33.9 MB

In [27]:
# # Convert human-readable timestamp into epoch milliseconds (into float)
import sys
import datetime
import time;

df['timestamp'] = time.mktime(time.strptime("29.08.2011 11:05:02", "%d.%m.%Y %H:%M:%S"));
df.head()

,bikes_available,bikes_disabled,docks_available,docks_disabled,station_id,datetime,timestamp,dom,weekday,hour,availability
0,22,3,30,0,72,2020-08-01 03:23:00,1.314641e+09,1,5,3,1
1,26,1,6,0,79,2020-08-01 03:29:00,1.314641e+09,1,5,3,1
2,22,4,1,0,82,2020-08-01 03:31:00,1.314641e+09,1,5,3,1
3,37,1,24,0,83,2020-08-01 03:30:00,1.314641e+09,1,5,3,1
4,39,3,8,0,116,2020-08-01 03:27:00,1.314641e+09,1,5,3,1

### Features Engineering

In [23]:
# add day of month(dom), day of week(weekday) and hour
import datetime

def get_dom(dt):
    return dt.day

df['dom'] = df['datetime'].map(get_dom)

# day of the week column
def get_weekday(dt):
    return dt.weekday()

df['weekday'] = df['datetime'].map(get_weekday)

# Hour of the day column
def get_hour(dt):
    return dt.hour

df['hour'] = df['datetime'].map(get_hour)

df.tail()

,bikes_available,bikes_disabled,docks_available,docks_disabled,station_id,datetime,timestamp,dom,weekday,hour
403757,0,0,24,0,4061,2020-08-07 10:27:00,1596796020,7,4,10
403758,12,0,11,0,4064,2020-08-07 01:38:00,1596764280,7,4,1
403759,0,0,3,0,4071,2020-08-07 09:54:00,1596794040,7,4,9
403760,2,0,42,0,4072,2020-08-07 11:03:00,1596798180,7,4,11
403761,13,1,21,0,4073,2020-08-07 10:58:00,1596797880,7,4,10

In [26]:
# Create column for Availabilty (where available = 1, unavailable=0, based on Bike availabilty)
df['availability'] = df.bikes_available.apply(lambda x: 1 if x > 1 == 1 else 0)
df.tail()

,bikes_available,bikes_disabled,docks_available,docks_disabled,station_id,datetime,timestamp,dom,weekday,hour,availability
403757,0,0,24,0,4061,2020-08-07 10:27:00,1596796020,7,4,10,0
403758,12,0,11,0,4064,2020-08-07 01:38:00,1596764280,7,4,1,1
403759,0,0,3,0,4071,2020-08-07 09:54:00,1596794040,7,4,9,0
403760,2,0,42,0,4072,2020-08-07 11:03:00,1596798180,7,4,11,1
403761,13,1,21,0,4073,2020-08-07 10:58:00,1596797880,7,4,10,1

In [29]:
df.to_csv('bikeStatus_data.csv', encoding='utf-8', index=False)